<h1><%= @path %></h1>
<ul>
  <% if archives.length > 0 %>
    <% for entry in archives.sort{|a, other| other[:date] <=> a[:date] %>
      <li>
        <a href="<%= entry.path %>"><%= entry.title %></a>
      </li>
    <% end %>
  <% end %>
</ul>

